<div class="container">
    <h1>Contact</h1>
    <ul class="social-media">
        <li><a href="mailto:manish20171999@gmail.com">
                <i class='bx bxl-gmail'></i></a></li>
        <li><a href="https://github.com/manishbaghel001">
                <i class='bx bxl-github'></i></a></li>
        <li><a href="https://www.linkedin.com/in/manish-baghel-7a09b5156/">
                <i class='bx bxl-linkedin-square'></i></a></li>
    </ul>

    <ul class="contact-info">
        <li>Mobile: +91 9728859772</li>
        <li>manish20171999@gmail.com</li>
    </ul>
</div>