<div id="contacts" class="container">
    <h1>Contact</h1>
    <ul class="social-media">
        <li>
            <a href="mailto:manish20171999@gmail.com" target="_blank">
                <i class='bx bxl-gmail' id="my-icon-gmail" (click)="increaseSizeGmail()"></i>
            </a>
            <div class="tooltip">Write Mail</div>
        </li>

        <li>
            <a href="https://github.com/manishbaghel001" target="_blank">
                <i class='bx bxl-github' id="my-icon-github" (click)="increaseSizeGit()"></i>
            </a>
            <div class="tooltip">Visit GitHub</div>
        </li>

        <li>
            <a href="https://www.linkedin.com/in/manish-baghel-7a09b5156/" target="_blank">
                <i class='bx bxl-linkedin-square' id="my-icon-linkedin" (click)="increaseSizeLinkedin()"></i>
            </a>
            <div class="tooltip">Visit LinkedIn</div>
        </li>

        <li>
            <img class="resume_icon" src="assets/resume_icon.png" alt="Resume Icon" (click)="downloadCV()">
            <div class="tooltip">Resume</div>
        </li>
    </ul>

    <ul class="contact-info">
        <li>Mobile : +91 9728859772</li>
        <li>Email : manish20171999&#64;gmail.com</li>
    </ul>
</div>
<div class="copyright">
    <span>©Copyright Manish Baghel 2023.</span>
</div>